<script defer src="/js/main.js"></script>
<input
  id="path-input"
  type="text"
  value="http://secuprime.com/recruit/202308_testdata.php"
/>
<button id="insert-btn">insert</button>
<table id="cust-table" border="1" width="40%">
  <thead>
    <tr>
      <td>guestCode</td>
      <td>guestName</td>
      <td>guestBirth</td>
      <td>guestHp</td>
      <td>guestAddr</td>
      <td>guestMail</td>
    </tr>
  </thead>
</table>
